week4/filter/redone_filter/node_modules/*
*.js
week4/filter/redone_filter/*.png
week4/filter/redone_filter/*.bmp
*.o
*.db
week4/filter/redone_filter/*.jpeg
week4/filter/redone_filter/test_images/*
week9/finance/typescript-version/node_modules/*
week4/filter/redone_filter/test/images/output.jpeg
week4/filter/redone_filter/test/images/output.bmp
week4/filter/redone_filter/test/output.bmp
week4/filter/redone_filter/test/realOutput.txt
week4/filter/redone_filter/index.tsbuildinfo
week4/filter/redone_filter/out/tsconfig.tsbuildinfo
week9/finance/python-version/__pycache__/app.cpython-310.pyc
week9/finance/python-version/__pycache__/helpers.cpython-310.pyc
